*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
nav.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 240px;
    background: #11101d;
    padding: 10px 14px;
}
div.burger-menu{
    position: relative;
    color: #fff;
    float: right;
    font-size: 25px;

}
div.logo-content{
    position: relative;
    width: 100%;
    height: 50px;
}
div.logo{
    width: 100%;
    height: 50px;
    margin-top: 10%;
}
div.logo i{
    color: #fff;
    float: left;
    font-size: 35px;
    padding: 10px 5px 10px 10px;
}

div.logo b{
    color: #fff;
    float: left;
    font-size: 35px;
    letter-spacing: 4px;
    padding-left: 0px;
    padding: 0px 5px 5px 0px;
}

div.search{
    margin-top: 15px;
    margin-bottom: 15px;
}
input.searching{
    position: relative;
    height: 30px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    list-style: none;
    line-height: 50px;
    outline: none;
    border: none;
    background: rgb(36, 36, 65);
}
div.search i{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    left: 30px;
    padding-top: 5px;
}
div.features{
    position: absolute;
}
ol.features_list{
    position: relative;
    left: 0px;
}
ol.features_list li{
    list-style: none;
    padding-bottom: 15px;
    margin-top: 0px;
}
ol.features_list li a{
    position: relative;
    height: 30px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    list-style: none;
    left: 15px;
}
.features_list li a i{
    font-size: 22px;
    padding-top: 5px;
    padding: 10px 0px 0px 0px;
}
.features_list li a ion-icon{
    font-size: 22px;
    padding: 10px 0px 0px 0px;
}
.features_list li a span{
    padding-left: 20px;
    font-size: 22px;
}