/* BODY HTML */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
/* NAVIGATION */
nav{
    display: flex;
    width: 100%;
    background: #0a5070;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
/* ICON FOR NAVIGATION */
nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}
/* STYLE INFORMATION IN NAVIGATION*/
nav ol{
    display: flex;
    list-style: none; 
    margin: auto 0;
}
nav ol li{
    margin: 0px 2px;
}
nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ol li:hover a{
    background: #fff;
    color: #0a5070;
}
/* STYLE SEARCH IN NAVIGATION */
nav .search-box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}  
nav .search-box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0px 10px;
    font-size: 20px;
    width: 350px;
}
/* ICON FOR SEARCH IN NAVIGATION */
nav .search-box span{
    color: #0a5070;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
/* ANIMATION ICON FOR SEARCH IN NAVIGATION */
nav .search-box span:hover{
    color: #fff;
}
nav .search-box span::after{
    height: 100%;
    width:  0%;
    content: '';
    background: #ff003c;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}
nav .search-box span:hover::after{
    width: 100%;
}
/* STYLE LINES BURGERS */
nav .bar{
    position: relative;
    margin: auto;
    display: none;
}
nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}
/* BACKGROUND IN WEBSITE/HTML DESKTOP */
section{
    background: url(img/img.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0px;
    z-index: -1;
    filter: brightness(30%);
}
/* RESPONSIVE FOR ANDROID OR DESKTOP */
@media screen and (max-width: 1300px){
    /* NAVIGATION FOR RESPONSIVE*/
    nav{
        display: block;
        padding: 0px;
    }
    /* ICON NAVIGATION FOR RESPONSIVE*/
    nav .icon{
        display: inline-block;
        padding: 15px 30px;
    }
    /* SEARCH IN NAVIGATION FOR RESPONSIVE*/
    nav .search-box{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px; 
    }
    nav .search-box input{
        width: 90%;
    }
    /* ICON SEARCH IN NAVIGATION FOR RESPONSIVE*/
    nav .search-box span{
        color: #0a5070;
        font-size: 20px;
        background: #fff;
        height: 100%;
        padding: 8px;
        position: relative;
        cursor: pointer;
        z-index: 1;
    }
    /* ANIMATION IN NAVIGATION FOR RESPONSIVE*/
    nav .search-box span:hover{
        color: #fff;
    }
    nav .search-box span::after{
        height: 100%;
        width:  0%;
        content: '';
        background: #ff003c;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transition: 0.3s;
    }
    nav .search-box span:hover::after{
        width: 100%;
    }
    /* INFORMATION IN NAVIGATION FOR RESPONSIVE 1/2*/
    nav ol{
        display: flex;
        flex-direction: column;
        background: rgb(178, 213, 219);
        height: 0px;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ol li{
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }
    nav ol li a{
        color: #000;
        font-size: 28px;
        padding: 25px;
        display: block;
    }
    /* ANIMATION BARS FOR INFORMATION IN NAVIGATION FROM RESPONSIVE 1/2*/
    nav ol li:nth-child(1){
        transform: translateX(-150px);
    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
    }
    nav ol li:nth-child(3){
        transform: translateX(-250px);
    }
    nav ol li:nth-child(4){
        transform: translateX(-300px);
    }
    nav ol li:nth-child(5){
        transform: translateX(-350px);
    }
    /* STYLE BARS FOR GO OR BACK IN NAVIGATION FROM RESPONSIVE 1/2*/
    nav .bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times{
        display: none;
    }
    /* CHECKED FOR ANIMATION STYLE BARS GO OR BACK IN NAVIGATION FROM RESPONSIVE 2/2*/
    #check:checked ~ nav .bar #times{
        display: block;
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }
    /* CHECKED ANIMATION BARS FOR INFORMATION IN NAVIGATION FROM RESPONSIVE 2/2*/
    #check:checked ~ nav ol{
        visibility: visible;
        height: 410px;
    }
    /* ANIMATION BARS FOR INFORMATION IN NAVIGATION FROM RESPONSIVE 2/2*/
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3),
    #check:checked ~ nav ol li:nth-child(4),
    #check:checked ~ nav ol li:nth-child(5){
        transform: translateX(0);
        opacity: 1;
    }
    /* BACKGROUND IN WEBSITE/HTML RESPONSIVE */
    section{
        background: url(img/img.jpg);
        height: 100%;
        width: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
        top: 0px;
        z-index: -1;
        filter: brightness(30%);
    }   